.lead-wrapper{
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

div.hidden-alert-danger{
    display: none;
}

.lead-index .table > tbody > tr > td,
.lead-index .table > thead > tr > th{
    vertical-align: middle;
    text-align: center;
}

.big-border{
    background: url("../images/attension2.png") no-repeat left 10px center;
}
/*.np-wrapper .city-input{*/
    /*display: none;*/
/*}*/